:root {
  --black: #111111;
  --gray: #dddddd;
}

body {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  color: var(--black);
}

.calendar > .date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar > .date-selector > .arrow {
  font-size: 1.7rem;
  margin: 0 1rem;
  cursor: pointer;
  color: var(--gray);
  transition: 0.3s;
}

.calendar > .date-selector > .arrow:hover {
  color: var(--black);
}

.calendar > .date-selector > .date {
  font-size: 2.5rem;
}

.calendar > .month {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.calendar > .month > .week {
  display: flex;
  justify-content: space-between;
}

.calendar > .month > .week > .day {
  width: 80px;
  text-align: center;
}
