@import '../../style/color.scss';

.date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-selector .arrow {
  font-size: 1.5rem;
  margin: 0 1.2rem;
  cursor: pointer;
  color: $gray;
  transition: 0.3s;
}

.date-selector .arrow:hover {
  color: $black;
}

.date-selector .date {
  font-size: 2.5rem;
}
