@import '../../style/color.scss';

.date_selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_selector .arrow {
  font-size: 1.5rem;
  margin: 0 1.2rem;
  cursor: pointer;
  color: $gray;
  transition: 0.3s;
}

.date_selector .arrow:hover {
  color: $black;
}


