:root {
  --black: #111111;
  --gray: #dddddd;
  --red: #ff4136;
  --blue: #0074d9;
  --today-color: rgb(255, 248, 216);
}

body {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  color: var(--black);
}

#calendar > .date-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar > .date-selector .arrow {
  font-size: 1.5rem;
  margin: 0 1.2rem;
  cursor: pointer;
  color: var(--gray);
  transition: 0.3s;
}

#calendar > .date-selector .arrow:hover {
  color: var(--black);
}

#calendar > .date-selector .date {
  font-size: 2.5rem;
}

#calendar > .month {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

#calendar .week {
  display: flex;
  justify-content: space-between;
}

#calendar .day {
  width: 70px;
  height: 50px;
  padding: 10px;
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
}

#calendar > .month > .week-head > .day {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#calendar .holiday {
  color: var(--red);
}

#calendar .saturday {
  color: var(--blue);
}

.other-month {
  color: var(--gray) !important;
}

.today {
  background: var(--today-color);
}
